.cta.benefits-cta {
	display: block;
	float: left;
	width: 100%;
	background: url(../images/benefits-cta.jpg) center center no-repeat;
	background-size: cover !important;
	h2, p {
		color: #fff;
		font-weight: 700;
		text-shadow: 0 1px 4px rgba(0,0,0,0.20);
	}
	h2 {
		font-size: 48px;
		@media only screen and (max-width: 40.063em) {
			font-size: 38px;	
		}
	}
	p {
		font-size: 20px;
	}
}

.benefits-page {
	section.benefits {
		padding-bottom: 8px;
	}
}