.home-header {
	height: 100%;
	padding-left: 5%;
	position: relative;
	@media only screen and (max-width: 64.063em) {
		text-align: center;
		padding: 20px 20px 280px 20px;	
	}
	h1 {
		font-size: 58px;
		max-width: 420px;
		margin-bottom: 16px;
		text-shadow: 0 1px 4px rgba(0,0,0,0.20);
		@media only screen and (max-width: 64.063em) {
			max-width: none;	
			font-size: 28px;
		}
	}
	p {
		font-weight: 700;
		font-size: 18px;
		max-width: 490px;
		margin-bottom: 30px;
		line-height: 1.6;
		text-shadow: 0 1px 4px rgba(0,0,0,0.20);
		@media only screen and (max-width: 64.063em) {
			max-width: none;	
			font-size: 16px;
		}
		@media only screen and (max-width: 40.063em) {
			margin-bottom: 20px;			
		}	
	}
}

form.request-offer {
	background: #FFFFFF;
	box-shadow: 0 6px 12px 0 rgba(85,155,181,0.20);
	border-radius: 4px;
	padding: 12px;
	@media only screen and (max-width: 40.063em) {
		padding: 8px;	
	}
	width: 100%;
	max-width: 506px;
	@media only screen and (max-width: 40.063em) {
		max-width: 300px;	
	}
	display: inline-block;
	input.home-address {
		font-weight: 700;
		font-size: 15px;
		max-width: 242px;
		float: left;
		background: transparent !important;
		border: none !important;
		box-shadow: none !important;
		margin: 0;
		height: 48px;
		@media only screen and (max-width: 64.063em) {		
			height: 40px;
			max-width: 210px;
		}
		@media only screen and (max-width: 40.063em) {
			height: 32px;
			max-width: 240px;
		}
	}
	input.offer-submit {
		float: right;
		margin: 0;
		font-size: 17px;
		height: 48px;
		@media only screen and (max-width: 64.063em) {		
			font-size: 14px;
			height: 40px;
			padding: 0 14px;			
		}
		@media only screen and (max-width: 40.063em) {
			height: 32px;
			padding: 0;
			width: 43px;	
		}		
	}
}

#page > section {
	display: block;
	float: left;
	width: 100%;
}

section.benefits {
	padding: 50px 0;
	.grid-container {
		max-width: /* 944px */ 1040px;
	}
	h2 + p {
		display: inline-block;
		max-width: 790px;
		margin-bottom: 65px;
	}
	.benefit-block {
		background: #F7FDFF;
		border-radius: 12px;
		padding: 0 20px 20px 20px;
		margin-bottom: 32px;
		position: relative;
		z-index: 2;
		svg {
			width: 104px;
			height: 104px;
		}
		p {
			color: $primary-color;
		}
		&:after {
			content: "";
			display: block;
			background: #F7FDFF;
			width: 136px;
			height: 136px;
			border-radius: 68px;
			position: absolute;
			z-index: 1;
			top: -35px;
			left: 50%;
			margin-left: -68px;
		}
		svg {
			margin-top: -16px;
			margin-bottom: 20px;
		}
		h3, p, svg {
			position: relative;
			z-index: 2;
		}
		h3 {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 12px;
			display: inline-block;
			max-width: 215px;
		}
	}
}

section.how-it-works {
	padding: 60px 0 80px 0;
	h2 + p {
		margin-bottom: 60px;
	}
	.grid-container {
		/* max-width: 944px */;
	}
	.step-block {
		margin-bottom: 40px;
		position: relative;
		p {
			font-weight: 700;
			display: inline-block;
			max-width: 232px;
		}
		svg {
			margin-bottom: 40px;
			position: relative;
			z-index: 1;
		}
		@media only screen and (min-width: 40em) {
			&:nth-child(1)::after {
				content: "";
				display: block;
				top: 0;
				left: 50%;
				width: 100%;
				position: absolute;
				height: 150px;
				background: url(../images/process-dots-left.svg) center center no-repeat;
				background-size: 100% auto;
			}
			&:nth-child(2)::after {
				content: "";
				display: block;
				top: -30px;
				left: 50%;
				width: 100%;
				position: absolute;
				height: 75px;
				background: url(../images/process-dots-right.svg) center center no-repeat;
				background-size: 100% auto;
			}
		}
	}
}

section.reviews {
	background: #F0FBFF;
	padding: 60px 0;
	.grid-container {
		max-width: 1100px;
	}	
	p {
		font-weight: 600px;
		font-size: 22px;
	}
	.reviews-wrapper {
		display: inline-block;
		margin: 0 30px 20px 30px;
		& svg:nth-child(1) {
			margin-bottom: 10px;
		}
	}
}

section.cta {
	padding: 80px 0;
	.grid-container {
		/* max-width: 952px; */
	}
	.cta-image {
		padding: 120px 15px 130px 15px;
		margin-bottom: 30px;
		font-weight: 700;
		font-size: 30px;
		color: #fff;
		background-size: cover !important;
		background-position: center center;
	}
	h2, h3 {
		font-weight: 700;
	}
	h2 {
		font-size: 30px;
		margin-bottom: 12px;
	}
	h3 {
		font-size: 26px;
		margin-bottom: 12px;
	}
	p {
		margin-bottom: 24px;
	}
}

section.video {
	background: $teal;
	padding: 40px 0 60px 0;
	h2 {
		color: #fff;
		margin-bottom: 20px;
	}
	img {
		border: 1px solid #FAFAFA;
		box-shadow: 0 5px 13px 0 rgba(0,0,0,0.26);
		background: rgba(0,156,192,0.85);
	}
	a.video {
		position: relative;
		display: inline-block;
		.play-overlay {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -28px;
				margin-top: -28px;
				width: 56px;
				height: 56px;
			}
		}
	}
}

.overlay-gradient {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 60%;
	height: 100%;
	background-image: linear-gradient(-89deg, rgba(1,154,188,0.00) 11%, rgba(1,154,188,0.80) 53%, rgba(1,154,188,0.80) 99%);
}