section.locations {
	padding-top: 50px;
	p {
		display: inline-block;
		max-width: 790px;
		margin-bottom: 40px;
	}
	.location-block {
		color: #fff;
		font-size: 30px;
		font-weight: 700;
		text-shadow: 0 1px 4px rgba(0,0,0,0.20);
		background-size: cover !important;
		background-position: center center;
		background-repeat: no-repeat;
		.location-overlay {
			background: rgba(0,0,0,0.25);
			padding: 130px 20px;
		}
	}
}

section.locations-cta {
	h2 {
		color: $magenta;
	}
	a {
		text-decoration: underline;
	}
}