.main-footer, .sub-footer {
	display: block;
	float: left;
	width: 100%;
	h2, h3, p, a {
		color: #fff;
		text-shadow: 0 1px 4px rgba(0,0,0,0.20);
	}
}

.footer-cta {
	display: block;
	float: left;
	width: 100%;
	padding: 32px 0;
	background-image: radial-gradient(51% 0%, #FAFDFF 52%, #F0FBFF 81%, #E3F8FF 100%);	
	.grid-container {
		max-width: 860px;
	}
	svg {
		width: 240px;
		height: 69px;
	}
}

.main-footer {
	background: $secondary-color;
	padding: 65px 0;
	a.logo {
		margin-bottom: 20px;
	}
	.social {
		display: inline-block;
		margin-bottom: 10px;
		svg {
			fill: #fff;
		}
	}
	h2.phone {
		font-size: 26px;
		font-weight: 700;
		svg {
			width: 15px;
			height: 15px;
		}	
	}
}

.sub-footer {
	padding: 24px 0 10px 0;
	background: $secondary-dim;
	p, a {
		font-size: 12px;
	}
}

.footer-menu {
	li {
		list-style: none;
		margin-bottom: 8px;
		a {
			font-size: 18px;
		}
	}
}