.main-footer, .sub-footer {
	display: block;
	float: left;
	width: 100%;
	h2, h3, p, a {
		color: #fff;
		text-shadow: 0 1px 4px rgba(0,0,0,0.20);
	}
}

.footer-cta {
	display: block;
	float: left;
	width: 100%;
	padding: 32px 0;
	background-image: radial-gradient(51% 0%, #FAFDFF 52%, #F0FBFF 81%, #E3F8FF 100%);	
	.grid-container {
		max-width: 860px;
		@media only screen and (max-width: 64.063em) {
			padding: 0 20px;
		}
	}
	svg {
		width: 240px;
		height: 69px;
		@media only screen and (max-width: 64.063em) {
			width: 200px;
			height: 57px;	
		}
	}
}

.main-footer {
	.button a {
		background: #A31561;
		color: #fff !important;
		&:hover {
			border-color: #fff;
		}
	}
	.grid-container {
		max-width: 860px;
		@media only screen and (max-width: 64.063em) {
			padding: 0 20px;
		}		
	}
	background: $secondary-color;
	padding: 65px 0;
	@media only screen and (max-width: 64.063em) {
		padding: 30px 0 24px 0;	
	}
	@media only screen and (max-width: 40.063em) {
		padding: 30px 0 0 0;	
	}
	a.logo {
		margin-bottom: 20px;
	}
	a.email {
		display: inline-block;
		font-weight: 700;
		@media only screen and (min-width: 40em) {
			margin-bottom: 20px;
		}
		@media only screen and (max-width: 64.063em) {
			font-size: 14px;	
		}
	}
	.social {
		display: inline-block;
		margin-bottom: 10px;
		svg {
			fill: #fff;
		}
	}
	h2.phone {
		font-size: 26px;
		font-weight: 700;
		svg {
			width: 15px;
			height: 15px;
		}	
	}
}

p.social-p {
	display: inline-block;
	font-weight: 700;
	margin-right: 16px;
	vertical-align: top;
}

.sub-footer {
	padding: 24px 0 10px 0;
	background: $secondary-dim;
	.grid-container {
		max-width: 860px;
	}	
	p, a {
		font-size: 12px;
	}
}

#menu-footer-menu {
	margin: 0;
	float: right;
	li {
		list-style: none;		
	}
	ul {
		margin: 0;
	}
	& > li {
		display: inline-block;
		margin-right: 60px;
		@media only screen and (max-width: 64.063em) {
			margin-right: 24px;	
		}
		&:last-child {
			margin-right: 0;
		}
		> a {
			font-size: 18px;
			font-weight: 700;
			pointer-events: none;
			cursor: default;
			margin-bottom: 12px;
			display: inline-block;
		}
		li a {
			font-size: 15px;
			opacity: .8;
			display: inline-block;
			margin-bottom: 8px;
			&:hover {
				opacity: 1;
			}
		}
	}
}