.header-wrapper {
	z-index: 11;
	min-height: 80px;
	@media only screen and (max-width: 64.063em) {
		min-height: 56px;	
	}
}

body.home .header-wrapper.transparent {
	position: absolute;
	width: 100%;
	header#masthead {
		background: rgba(36,41,42,0.60);
		a.logo svg path, a.logo svg rect {
			fill: #fff;
		}
	}
}

header a.logo {
	float: left;
	margin: 8px;
}

a.logo {
	display: inline-block;
	svg {
		float: left;
		width: 184px;
		height: 64px;
		@media only screen and (max-width: 64.063em) {
			width: 140px;
			height: 40px;	
		}
		@media only screen and (max-width: 40.063em) {
			width: 116px;
			height: 33px;	
		}
	}
}

.header-container {
    @media only screen and (min-width: 40.063em) {
	    margin-bottom: 25px;
	}
}

header#masthead {
    display: block;
    float: left;
    width: 100%;
    background: $topbar-background;
    position: relative;
    z-index: 3;
    top: 0;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    transition: background 500ms ease;
    -webkit-transition: background 500ms ease;
    @include breakpoint(medium) {
	    &.headroom--pinned:not(.headroom--top) {
		    background: #fff;
			position: fixed;
			height: auto !important;
			top: -70px;
			transform: translateY(70px);
			transition: transform 500ms ease,background 900ms ease;
			-webkit-transition: transform 500ms ease,background 900ms ease;
			z-index: 99999;
			box-shadow: 0px 0px 10px 2px rgba(0,0,0,.15);
			.top-bar-left a {
				padding: 8px 0;
				width:87px;
				margin: 0 15px;
				img {
					min-height: 0;
				}
			}
			&+ main.container  {
				margin-top: 0px
			}
	    }
    }
    @media only screen and (max-width: 40.063em) {
	 	height: 87px;   
	}
}

.admin-bar header#masthead.headroom--pinned:not(.headroom--top) {
	top: -38px;
}

@media only screen and (max-width: 782px) {
	.admin-bar header#masthead.headroom--pinned:not(.headroom--top) {
		top: -24px;
	}
}

.icon-wrapper {
	display: inline-block;
	padding: 0 20px;
	svg {
		vertical-align: middle;
	}
	a {
		font-size: $menu-font-size;
	}	
}

@media only screen and (max-width: 40em) {
	.top-bar-left {
		text-align: center;
		a.logo {
			z-index: 9999;
			position: relative;
			margin: 7px 7px 7px 28px;
			img {
				max-height: 100%;
			}
		}
	}
	.top-bar-left, .top-bar-middle {
		width: 100%;
	}
	.top-bar-right {
		position: absolute;
		top: 0;
		right: 0;
	}
	.icon-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		height: 64px;
		background: $primary-color;
	}
	body.woocommerce .search-icon-wrapper {
		right: 60px;
	}
}

body > .animsition > main.container > section,
body > main.container > section,
body > .animsition > main.container > header,
body > main.container > header,
.header-wrapper {
	z-index: 3;
	position: relative;
}

main.container > section > .grid-container {
	background: #fff;
}

.top-bar {
	text-align: center;
	.top-bar-left {
		text-align: left;
		@media only screen and (max-width: 40.063em) {
			text-align: center;
			border-bottom: solid 1px #DCF0FA;
		}
	}
	.top-bar-right {
		text-align: right;
		p {
			margin: 0;
			font-size: 18px;
			display: inline-block;
			padding: 27px 0 28px 0;
			font-weight: 700;
			color: $primary-color;
			span {
				color: $secondary-color;
				font-weight: 500;
			}
		}
	}
	.top-bar-middle {
		display: inline-block;
	}
	@media only screen and (max-width: 40.063em) {
		.call-now {
			border-right: solid 1px #DCF0FA;
		}	
	}
	.top-bar-middle.tablet {
		background: #fff;
		@media only screen and (max-width: 40.063em) {
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
		}
		p {
			margin: 0;
			font-weight: 700;
			font-size: 17px;
			span {
				color: #DCF0FA;
			}
		}
		a {
			display: inline-block;
			padding: 16px 0 17px 0;
			@media only screen and (max-width: 40.063em) {
				width: 49%;
				padding: 12px 0;	
			}
		}
		@media only screen and (max-width: 40.063em) {
			&.sticky {
				display: block;
				z-index: 9999;
				position: fixed;
				top: 0;
			}
		}
	}
	@media only screen and (max-width: 40.063em) {
		padding: 0 !important;
	}
}

@media only screen and (max-width: 40.063em) {
	body.admin-bar {
		.top-bar .top-bar-middle.tablet.sticky {
			top: 46px;
		}
	}
}