.featured-image {
	display: block;
	margin: 0 auto;
	max-width: /* 1440px */ 1920px;
    & > .row {
	 	padding: 60px 0 60px 0;
	}	
	.featured-image-overlay {
	    h1, h2, h3, h4, p {
		    color: #fff;
			text-shadow: 4px 4px 6px rgba(0,0,0,.2);
    	}
    }
    img {
		width: 100%;
	}
}

.parallax-featured {
	height: 480px;
	.grid-container, .cell {
		height: 100%;
	}
}

.featured-image, .parallax-window {
	background-size: 100% auto !important;
	position: relative;
	z-index: 2;
}

.featured-container {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	overflow: hidden;
	& > .grid-container {
		@media only screen and (max-width: 1010px) {
			padding: 0;
		}
	}
	.row {
		position: relative;
	}
	h1 {
		font-weight: 700;
	}
	h1, p {
		color: #fff;
	}	
	.featured-image {
		.overlay {
			position: absolute;
			@media print { 
				position: relative;
				margin-top: 20px;
			}
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			/* background: rgba(0,0,0,.2); */
		}
	}
}