a.menu {
	display: inline-block;
	vertical-align: middle;
	font-size: $menu-font-size;
	margin: 0 20px;
	padding: 14px 0 15px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 11px 0 9px 0;	
	}
	text-transform: uppercase;
	svg {
		width: 16px;
		height: 16px;
		vertical-align: top;
		margin-right: 8px;
		margin-top: 5px;
		path {
			fill: $primary-color;
		}
	}
}

#fullscreen-menu-container {
	background: $primary-color;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	z-index: -99;
	opacity: 0;
	.menu-left-container {
		float: left;
		margin-left: -50%;
	}
	&.active {
		z-index: 99999;
		opacity: 1;
		.menu-left-container, .menu-right-container {
			margin: 0;	
		}
	}
	.menu-container {
		display: block;
		width: 100%;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
		text-align: center;
	}
	.menu-left, .menu-right {
		padding-top: 55px;
		height: 100vh;
	}
	.menu-left {
		max-width: 232px;
		margin-right: 38px;
		display: inline-block;
		text-align: left;
		position: relative;
		.fs-menu-inner {
			position: relative;
			&:before {
				content: "";
				display: block;
				position: absolute;
				height: 100%;
				width: 2px;
				left: -80px;
				top: 0;
				background: rgba(255,255,255,.2);
			}
		}
		@media only screen and (max-width: 40.063em) {
			float: none;
			display: inline-block;
			margin: 0;
			padding-top: 55px;
		}
		li {
			list-style: none;
			margin-bottom: 8px;
			text-align: left;
			a {
				font-size: 18px;
				color: #fff;
				font-weight: 700;
				display: inline-block;
				margin-bottom: 10px;
			}
			.sub-menu {
				margin-bottom: 20px;
				li {
					margin-top: 8px;
					a {
						font-size: 16px;
						opacity: .8;
					}
				}
			}
		}
	}
	.menu-top-right {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 2;
		.close, .button {
			display: inline-block;
		}
		.close {
			color: #fff;
			font-size: 16px;
			text-transform: uppercase;
			span {
				display: inline-block;
				line-height: 22px;
				vertical-align: top;
				font-size: 28px;
				margin-right: 12px;
				margin-top: -1px;
			}
		}
		.button a {
			font-size: 17px;
			padding: 3px 12px;
			margin-bottom: 0;
		}
	}
	#blog-search {
		width: 100%;
		margin: 0 0 30px 0;
		input#fmenu-s {
			border-radius: $global-radius;
			background: rgba(255,255,255,.2);
			color: #fff;
			padding-left: 12px;
			&::-webkit-input-placeholder {
			    color: #fff;
			}
			&:-moz-placeholder {
			    color: #fff;
			}
			&:-ms-input-placeholder {
			    color: #fff;
			}				
		}
	}	
	.menu-right {
		max-width: 280px;
		margin-left: 100px;
		@media only screen and (max-width: 920px) {
			margin-left: 20px;
		}
		.button a {
			margin-bottom: 8px;
		}
	}
	.full-logo a {
		svg {
			width: 224px;
			height: 78px;
			path:not(.never-white), rect:not(.never-white), polygon:not(.never-white) {
				fill: #fff;
			}
		}
	}
	.menu-right-container {
		background: rgba(0,0,0,.3);
		overflow-y: scroll;
	}
	.address {
		margin-bottom: 40px;
	}
	a.email {
		white-space: nowrap;
	}
	h2, h3, p, a {
		color: #fff;
	}
	.social a {
		margin-bottom: 8px;
		display: inline-block;
	}
	li.menu-item-has-children > a {
		position: relative;
		padding-right: 25px;
	}
	li.menu-item-has-children > a:after {
		content: '';
		display: block;
		position: absolute;
		background: url(../images/menu-arrow-white.svg) center center no-repeat;
		width: 14px;
		height: 12px;
		right: 0;
		top: 28%;
		transition: all .5s;
		transform: rotate(180deg);
	}
	li.menu-item-has-children.expanded > a:after {
		transform: rotate(0deg);
	}
	ul.sub-menu {
		max-height: 0;
		overflow: hidden;
		transition: all .5s;
	}
	li.expanded ul.sub-menu {
		max-height: 500px;
	}
	a.email svg {
		margin-right: 8px;
	}
}

body.admin-bar #fullscreen-menu-container .menu-top-right {
	top: 50px;
}